$red: #F94144;
$orange: #F3722C;
$light-orange: #F8961E;
$less-orange: #F9844A;
$yellow: #F9C74F;
$green: #90BE6D;
$greenish: #43AA8B;
$kinda-blue: #4D908E;
$what-kind-of-blue-is-this: #314455;
$some-random-blue: #277DA1;